body {
    margin: 0;
    padding: 0;
}
footer {
	background-image: linear-gradient(to top, rgb(242, 124, 255), rgb(193, 92, 255));
	color: rgb(255, 255, 255);
    padding: 10px;
    width:100%;
    text-align: center;
}
html {
    background-image: linear-gradient(to top, rgb(255, 178, 243), rgb(193, 92, 255));
    font-family: 'Open Sans', sans-serif;
}
#full-page {
    display: flex;
}

#menu{
    width:20%;
    background-color: rgba(255, 255, 255, 0.6);
}
#menu h1 {    
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px blueviolet;
    font-size: 30px;
    text-align:center;
}
#menu-list{
    padding-left:20%;
    list-style: none;
}
#submenu-list {
    padding-left:10%;
    list-style: none;
}
#menu-list a, #submenu-list a {
    color: blueviolet;
    text-decoration: none;

}
#pets-page{
    width:80%;
    text-align:center;
}
#pets-page h2, #pet-info-page h2 {
    text-align:center;
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px rgb(242, 124, 255);
    font-size: 35px;
}
#pets-catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom:30px;
}
.pet-in-catalog {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 20px;
    padding-bottom:15px;
    margin: 10px;
    color:blueviolet;
    text-align:center;
    box-sizing: border-box;
    cursor: pointer;
} 
.pet-in-catalog p {
    margin:0;
}
.pet-in-catalog h4 {
    margin:5px;
    margin-top:10px;
}
.pet-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
#pet-info-page {
    width:80%;
    text-align:center;
    padding-bottom:30px;
    display: flex;
    justify-content: center;
}
#pet-info-section {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 75%;
}
#pet-img {
    margin: 0 auto;
    display: block;
}
#pet-info-section button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(242, 124, 255), rgb(213, 119, 251));
}