body {
    margin: 0;
    padding: 0;
}
footer {
	background-image: linear-gradient(to top, rgb(242, 124, 255), rgb(193, 92, 255));
	color: rgb(255, 255, 255);
    padding: 10px;
    width:100%;
    text-align: center;
}
html {
    background-image: linear-gradient(to top, rgb(255, 178, 243), rgb(193, 92, 255));
    font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

#full-page {
    display: flex;
}

#menu{
    width:20%;
    background-color: rgba(255, 255, 255, 0.6);
}
#menu h1 {    
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px blueviolet;
    font-size: 30px;
    text-align:center;
}
#menu-list{
    padding-left:20%;
    list-style: none;
}
#submenu-list {
    padding-left:10%;
    list-style: none;
}
#menu-list a, #submenu-list li {
    color: blueviolet;
    text-decoration: none;
    cursor: pointer;
}
#no-link-menu a{
    cursor: default;
}
#pets-page{
    width:80%;
    text-align:center;
}
#pets-page h2, #owners-page h2{
    text-align:center;
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px rgb(242, 124, 255);
    font-size: 35px;
}
#pet-info-page h2{
    text-align:center;
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1.5px rgb(193, 92, 255);
    font-size: 35px;
}
#pets-catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom:30px;
}
.pet-in-catalog {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 20px;
    padding-bottom:15px;
    margin: 10px;
    color:blueviolet;
    text-align:center;
    box-sizing: border-box;
    cursor: pointer;
} 
.pet-in-catalog:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.pet-in-catalog p {
    margin:0;
}
.pet-in-catalog h4 {
    margin:5px;
    margin-top:10px;
}
.pet-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
#pet-info-page {
    width:80%;
    text-align:center;
    padding-bottom:30px;
    display: flex;
    justify-content: center;
}
#pet-info-section {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 75%;
}
#pet-img {
    margin: 0 auto;
    display: block;
}
#pet-info-section button, .form_button {
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(242, 124, 255), rgb(213, 119, 251));
}
#editing-pet-form{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 60%;
    text-align: left;
    align-items: center;
    padding-left:25%;
    font-size:18px;
    line-height: 1.6;
}
#edit-pet-page {
    width:80%;
    text-align:center;
    padding-bottom:30px;
    display: flex;
    justify-content: center;
}
#header_form_label {
    padding-bottom: 0;
    margin: 0 auto;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px rgb(242, 124, 255);
    font-size: 35px;
}
.form_button{
    margin-top: 35px;
}
input[type="text"], input[type="date"], select, input#file-upload-button {
    border:solid rgb(213, 119, 251) 2px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:5px;
    height: 25px;
    font-size: 16px;
    box-sizing: border-box;
}

#owners-page{
    width:80%;
    text-align:center;
    padding-bottom:30px;
}
.person-in-catalog {
    background-color: rgba(255, 255, 255, 0.7);
    width: 60%;
    cursor: pointer;
    border-radius: 35px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 0;
	display: flex;
    justify-content: start;
    min-width: 380px;
}
.person-in-catalog:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.person-in-catalog-text p {
    margin:0;
    margin-left: 10px;
    font-size: 20px;
    color:rgb(242, 124, 255);
}
.person-in-catalog-text h4 {
    margin:5px;
    margin-top:13px;
    font-size: 23px;
    color:rgb(193, 92, 255);
}
.person-in-catalog img {
    height: 60px;
    width: 60px;
    margin: 10px;
	flex: 1;
    object-fit: contain;
    overflow: hidden;
}
.person-in-catalog-text {
	flex: 7;
	margin-left: 2%;
	text-align: left;
}